### THIS IS AN EXAMPLE .tfvars FILE!

# AWS vars
aws_account_id  = "12345678987"
aws_region      = "us-east-1"
# Common Vars
env      = "dev"
tags     = {
    TerraformManaged = "true"
    Environment      = "dev"
    App              = "s3av"
}
# Lambda Vars
scanner_enabled            = true
scanner_version_file_path  = "../../services/scanner/version.json"
notifier_enabled           = true
notifier_version_file_path = "../../services/notifier/version.json"
# Appconfig Vars
appconfig_hosted_config_content_path = "../../services/service_config.json"
appconfig_hosted_config_env = {
    dev = {
        name        = "Dev"
        description = "Dev s3av service configs"
    }
}
# VPC Vars
vpc_cidr               = "10.100.0.0/20"
vpc_azs                = ["us-east-1a", "us-east-1b", "us-east-1c"]
vpc_private_subnets    = ["10.100.0.0/22", "10.100.4.0/22", "10.100.8.0/22"]
vpc_public_subnets     = ["10.100.12.0/26", "10.100.12.0/26", "10.100.12.0/26"]
